.App {
    font-family: sans-serif;
    text-align: center;
}

.react-mapbox-ac-menu {
    width: auto;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

.MuiPaper-root {
    display: inline-grid;
    grid-template-columns: 50px auto;
    align-items: center;
    width: 100%;
    padding-left: 12px;
}

div .react-mapbox-ac-input {
    width: 95%;
}

.react-mapbox-ac-input {
    border: none transparent;
    outline: none;
    background: rgba(245, 245, 245, 0.5);
    margin: 20px 5px 5px 5px;
    padding: 7px;
    border-radius: 7px;
}

.react-mapbox-ac-suggestion {
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.react-mapbox-ac-suggestion:hover {
    background-color: #ccc;
}

.form-control {
    padding: 15px;
}


.left-slider {
    position: fixed;
    z-index: 99999;
    right: 0;
    background-color: #9cace8;
    overflow-x: hidden;
    transition: 0.5s;
}

.slider-width-50p {
    justify-content: center;
    align-items: center;
    width: 30px;
}

.slider-width-300p {
    width: 350px;
    height: 100vh;
}

.sidebar-container {
    border-radius: 8px;
    margin: 5px;
}

.options {
    border-radius: 8px;
    box-shadow: -1px 5px 7px rgb(0 0 0 / 30%) !important;
    background: #005da6;
    padding: 5px;
}

.arrow-style {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
